<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVYkY7bzh6Vt_62-5voryiFZAMjpoQFRU</string>
	<key>GCM_SENDER_ID</key>
	<string>924211090980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diningDash</string>
	<key>PROJECT_ID</key>
	<string>dining-dash-90a09</string>
	<key>STORAGE_BUCKET</key>
	<string>dining-dash-90a09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924211090980:ios:c6198d5f66f3b231692ab1</string>
</dict>
</plist>